<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title>About</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="all">
    <div class="content">
      <div class="text">
        <div class="logo">
          <img src="./../../assets/icon/favicon.png" alt="" srcset="">
          <p>Object Detection</p>
        </div>
        <div class="other">
          Copyright 2020, CYST Company Limited.
        </div>
      </div>
    </div>
  </div>
</ion-content>