<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title>About</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="all">
    <div class="content">
      <div class="text">
        <div class="logo">
          <img src="./../../assets/icon/icon.png" alt="" srcset="">
          <p>Object Detection</p>
        </div>
        <div class="other">
          <p>
            <strong>Contributors:</strong> <br/>
            <a href="https://github.com/KManu">Kwabena Manu</a>  <br/>
            <a href="https://github.com/Sami-Rocks"> Samuel Owusu-Aboagye</a> <br/>
            <a href="https://twitter.com/ard__il">Ardil Salia</a> 
          </p>
          Copyright 2020.
          <a href="https://teamcyst.com">CYST Company Limited</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>