ion-toolbar {
    --background: #E8494F;
    --color: white;
    --ion-color-base: transparent !important;
    }
  
  .header-md:after{
    background-image: none;
  }
  
  
  ion-content{
      .all{
          background: url("/../assets/background.png");
          background-size: cover;
          background-repeat: no-repeat;
      }
  
      .content{
          text-align: center;
          padding: 10px
              
      }
  }