<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="all">
    <button class="GoBack" (click)="goBack()" >
        Go Back
    </button>
  
    <div class="content">
      <img [src]="_image" id='image' #image  alt="t">
      <div class="canvas-container">
        <canvas #canvas ></canvas>
      </div>
      <button (click) = "predict()" >
        Predict 
      </button>
      <ul>
        <li *ngFor="let predict of predicted">
          {{predict.class}}
        </li>
      </ul>
    </div>
  </div>
</ion-content>