<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="all">
    <div class="content">
      <div class="image_container">
        <img [src]="_image" id='image' #image  alt="t">
      </div>
      <button (click) = "predict()" >
        Predict 
      </button>
      <ul>
        <li *ngFor="let predict of storedresults">
          {{predict}}
        </li>
      </ul>
    </div>
  </div>
</ion-content>