<ion-content fullscreen>
    <ion-header>
        <ion-toolbar>
            <ion-title>Object Detection</ion-title>
            <ion-buttons slot="end">
                <ion-button routerLink="/gallery">
                    History
                </ion-button>
                <ion-button routerLink="/about">
                    About
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

    </ion-header>
    <div class="content">
        <ion-grid>

            <ion-row>
                <div class="cards-title">
                    <h3>Samples</h3>
                    <div class="cards">
                        <ion-slides>
                            <ion-slide *ngFor="let image of images">
                                <div class="image-slide" (click)=photoService.testSamples(image)>
                                    <div class="overlay"></div>
                                    <img [src]="image" alt="slide 1">

                                </div>
                            </ion-slide>

                        </ion-slides>
                    </div>
                </div>
            </ion-row>
            <ion-row>
                <div class="instructions">
                    <h3>Instructions</h3>
                    <p>- Either choose an image from your gallery or take a new one with your camera. <br />
                        - Wait for the app to detect and tell you the objects in image.</p>
                </div>
            </ion-row>
            <ion-row class="align-items-center">
                <div class="pic-buttons">
                    <h3>Choose an image:</h3>
                    <div class="buttons">
                        <ion-col>
                            <button class="ion-activatable" (click)="photoService.pickImage()">
                                Gallery
                                <ion-ripple-effect></ion-ripple-effect>
                            </button>
                        </ion-col>
                        <ion-col>
                            <button class="ion-activatable" (click)="photoService.takePictures()">
                                Camera
                                <ion-ripple-effect></ion-ripple-effect>
                            </button>
                        </ion-col>
                    </div>
                    <div class="ion-text-center ion-margin">

                    </div>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>